.ticTacToeContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.ticTacToe {
    display: flex;
    flex-wrap: wrap;
    width: 210px;
    height: 210px;
}

.ticTacToeGameResult {
    position: absolute;
    width: 210px;
    height: 210px;
    font-weight: 800;
    color: rgb(55, 101, 255);
}

.ticTacToeGameResultFinished {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
}

.ticTacToeBox {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid darkgray;
    max-width: 70px;
    max-height: 70px;
    min-width: 70px;
    min-height: 70px;
    cursor: pointer;
    position: relative;
}

.ticTacToeBoxFinished {
    filter: blur(9px);
}

.ticTacToeBox:nth-child(2) {
    border-left: 0;
    border-top: 0;
}
.ticTacToeBox:nth-child(3) {
    border-top: 0;
}
.ticTacToeBox:nth-child(4) {
    border-right: 0;
    border-top: 0;
}
.ticTacToeBox:nth-child(5) {
    border-left: 0;
}
.ticTacToeBox:nth-child(7) {
    border-right: 0;
}
.ticTacToeBox:nth-child(8) {
    border-left: 0;
    border-bottom: 0;
}
.ticTacToeBox:nth-child(9) {
    border-bottom: 0;
}
.ticTacToeBox:nth-child(10) {
    border-right: 0;
    border-bottom: 0;
}

.O_player {
    width: 60px;
    height: 60px;
    border-radius: 100px;
    border: 6px solid rgb(75, 75, 75);
}

.X_player {
    font-size: 70px;
    font-weight: 800;
    color: rgb(75, 75, 75);
}
